<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Hello from EJS</h1>

  <fieldset>
    <legend>Names</legend>

    <form action="/names" method='post'>
      <div>
        <label for="">Name</label>
        <input type="text" name='name'>
      </div>

      <button>Submit</button>
    </form>
  </fieldset>
</body>

</html>
