<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Names</title>
</head>

<body>
  <fieldset>
    <div>
      <p>
        <%= name %>
      </p>
    </div>

    <div>
      <ul>
        <% for (const name of names) { %>
          <li>
            <%= name %>
          </li>
          <% } %>
      </ul>
    </div>
  </fieldset>
</body>

</html>
